/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COLOR PALETTE
    main-bg: #000000
    viewControlsContainer items: #4a4a4a
    nav: #222222
    end meeting-bg: #4a4a4a
    shareScreen icon: #4bc800
*/

/*REGOLE GENERALI*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* ----- MAIN ----- */
/*AREA DI VISUALIZZAZIONE PARTECIPANTI*/
body > main {
    width: 100%;
    height: 90vh;

    padding-top: 90px;
    overflow: scroll;
    color: white;
    background-color: black;

    position: relative;
}

#cardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

/*CARDS DEI PARTECIPANTI*/
.card {
    width: 245px;
    height: 145px;

    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
}

.card span {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.8rem;
    padding: 5px;

    background-color: rgba(0, 0, 0, 0.3);
}

/*CONTROLLI MODALITà DI VISUALIZZAZIOE*/
main #viewControlsContainer {
    position: absolute;
    top: 10px;
    right: 5px;

    font-size: 0.7rem;
    font-weight: bold;
}

#viewControlsContainer > *{
    background-color: #4a4a4a;
    
    border-radius: 6px;

    padding: 6px;
    margin-left: 5px;
    
    cursor: pointer;
}

/* ----- NAV ----- */
body > nav {
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #222222;
}

nav > div {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*PULSANTI NAV*/
nav > div .navButton {
    color: white;
    cursor: pointer;

    padding: 8px;
}

.navButton:first-child {
    margin-left: 5px;
}

.navButton[id] {
    display: flex;
    align-items: center;
}

.navButton[id] > i{
    font-size: 0.8rem;
    margin-left: 10px;
}

.navButton > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navButton > div i {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.navButton > div span {
    font-size: 0.7rem;
    font-weight: bold;
}

.navButton#shareScreenActions div i {
    color: #4bc800;
}

nav #endMeeting {
    color: red;
    font-size: 0.8rem;
    padding: 0 1rem;
    background-color: #4a4a4a;
}




/*DEBUG*/
.debug main {
    background-color: chocolate;
}

.debug nav {
    background-color: darkcyan;
}

.debug .card{
    background-color: aquamarine;
}

.debug .card span {
    background-color: slateblue;
}

.debug main #viewControlsContainer {
    background-color: yellow;
}

.debug nav > div {
    background-color: thistle;
}